/* .LanguagesTile1 {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  background-color: aqua;
} */

.languageTile {
  display: flex;
  background-color: #9fb8ad;
  height: 400px;
  width: 400px;
  text-align: center;
  border-radius: 2%;
  box-shadow: 5px 5px 10px #869b92;
  font-family: Mulish, sans-serif;
  color: #383e56;
  justify-self: center;
  justify-content: center;
  max-height: 500px;
}

.chartTitle {
  font-family: Mulish, sans-serif;
  color: #383e56;
  font-size: 25px;
  padding: 5%;
}

.doughnut {
  justify-self: center;
}

@media (max-width: 800px) {
  .languageTile {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1;
    width: 100%;
    
  }
}
