@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mulish:wght@700&family=Share+Tech+Mono&display=swap");

.headerSet {
  grid-column-start: 1;
  grid-column-end: 4;
  max-height: 40%;
}

.avatar {
  max-width: 16%;
  border-radius: 20%;
  margin-left: 42%;
  box-shadow: 5px 5px 10px #869b92;
  border: 5px solid #9fb8ad;
}

.name_bio {
  background-color: #9fb8ad;
  width: 40%;
  min-height: 10%;
  margin-left: 30%;
  margin-top: -5%;
  text-align: center;
  border-radius: 2%;
  box-shadow: 5px 5px 10px #869b92;
  font-family: Mulish, sans-serif;
  color: #383e56;
  max-height: 20vh;
  padding: 1%;
}

.uName {
  padding-top: 10%;
  font-size: 40px;
  font-weight: 700;
}

.bio {
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
  padding-bottom: 10%;
}

.headerSet {
  grid-column-start: 1;
  grid-column-end: 4;
  max-height: 40%;
}
