@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mulish:wght@700&family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
}

.searchBoxBackground {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.searchBox {
  position: absolute;
  background-color: #9fb8ad;
  width: 40vw;
  height: 28vh;
  top: 30%;
  min-width: 500px;
  min-height: 350px;
  max-height: 800px;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ececec;
}

.header {
  font-family: Mulish, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #383e56;
  padding-top: 5px;
  margin-top: 5%;
  text-shadow: 1px 1px 1px;
  padding-left: 5%;
  padding-right: 5%;
}

.git {
  font-family: Share Tech Mono, monospace;
  font-size: 40px;
  color: #ececec;
  text-shadow: 1px 1px 1px;
}

.userInput {
  display: block;
  height: 20%;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: #383e56;
  border: none;
  border-radius: 10px;
  font-family: Mulish, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #ececec;
  text-align: center;
}

.go {
  margin-top: 5%;
  height: 12%;
  width: 25%;
  font-family: Share Tech Mono, monospace;
  font-size: 40px;
  text-shadow: 1px 1px 1px;
  background-color: #fb743e;
  border: none;
  border-radius: 10px;
  color: #383e56;
  cursor: pointer;
  min-height: 42px;
}
